.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .hero-img {
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .hero-body{
      padding:px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .initals{
      font-size: 2.5rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-left: 3rem;
    }

    .navtabs{
      font-size: 1.5rem;
      padding: 5px;
      
      top: 10px;
      

     
      

    }
    .title{
      font-size: 3.5rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
    }
    
 

    .projects{
      
      max-width: 300px;
      border: solid 2px #ccc;
      padding: 12px;
      
    }
    
    .card1{
      display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 15px;
    }

    .titleHeading{
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
      position: relative;
    }

    .aboutHeading{
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
      position: relative;
      margin-left: 24px;
      
    }
  .aboutMe{
    margin-left: 215px;
    position:absolute;
    top: 180px;
  }

  .aboutFont{
    font-size: large;
    font-family: serif;
  }
  
  .educationText{
    margin-left: 24px;
  }
  .selfie{
   position: relative;
   top: 12px;
  }
    